<div style="display: flex;">
    <div style="max-width: 90px;">
        <div>LUVS SP SIZ2</div>
        <div>KC SEA SLT</div>
        <div>FUN NUGGETS</div>
        <div>B J ICECRM</div>
        <div>B J ICECRM</div>
        <div>AQUAFINA</div>
        <div>BE GRL CAULF</div>
        <div>BE GRL CAULF</div>
        <div>PC240REFRESH</div>
        <div>T-SHIRT</div>
    </div>
    <div style="text-align: center;max-width: 90px;padding-left: 10px;">
        <div>003700094855</div>
        <div>008411410812</div>
        <div>003700094855</div>
        <div>008411410812</div>
        <div>003700094855</div>
        <div>008411410812</div>
        <div>003700094855</div>
        <div>008411410812</div>
        <div>003700094855</div>
        <div>008411410812</div>
    </div>
    <div style="max-width: 20px;padding-left: 10px;">
        <div>&nbsp</div>
        <div>F</div>
        <div>F</div>
        <div>&nbsp</div>
        <div>F</div>
        <div>F</div>
        <div>F</div>
        <div>F</div>
        <div>F</div>
        <div>F</div>
    </div>
    <div style="text-align: right;max-width: 60px;padding-left: 30px;">
        <div>19.77 N</div>
        <div>2.98 N</div>
        <div>5.47 N</div>
        <div>3.97 N</div>
        <div>3.97 N</div>
        <div>1.58 N</div>
        <div>1.84 N</div>
        <div>1.84 N</div>
        <div>4.77 N</div>
        <div>14.44 N</div>
    </div>
</div>