@font-face {
    font-family: receipt;
    src: url(assets/fonts/merchant_copy.ttf);
}

body {
    font-family: receipt;
    font-size: 24px;
    letter-spacing: -1px;
    max-width: 300px;
    line-height: 20px;
}